.menu a:hover {
  color: rgb(13, 202, 240) !important;
}

.menu a:focus,
.menu a:active {
  color: rgb(220, 53, 69) !important;
}
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: rgb(220, 53, 69);
}
.userId {
  text-align: center !important;
  padding-top: 10px;
}
