/* .banner-img {
  max-height: 300px !important;
}
.carousel .item {
  height: 500px !important;
}

.banner-h {
  height: 600px !important;
} */

.carousel-item::before {
  content: "";

  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  /* width: 100vw !important;
  height: 100vh; */
  background-color: rgba(0, 0, 0, 0.508) !important;
}
.carousel-caption {
  top: 16.25rem !important;
  bottom: 0 !important;
}
.banner_btn {
  background-color: #f2f2f2 !important;
  color: #000;
  font-size: 20px;
  font-weight: 600;
  transition: 0.5s linear;
}
.banner_btn:hover {
  background-color: #007bac !important;
  color: #fff;
}
.banner_title {
  font-size: 30px !important;
  font-weight: 600;
}
